  <button class="btn btn-success" type="submit"
          (click)="onAddRestaurant(name,  country)">{{'ADD_RESTAURANTS' | translate}}</button>
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="{{'NAME' | translate}}">
  </div>
  <div class="form-group mb-3">
    <select required class="form-control" [(ngModel)]="country">
      <option *ngFor="let c of countries" [value]="c">{{c}}</option>
    </select>
  </div>
  <div class="form-group mb-3">
    <h3>{{coordinates}}</h3>
    <google-map height="700" width="1100" (mapClick)="click($event)"></google-map>
  </div>
