<form class="w-50" [formGroup]="form">
    <div class="input-group mb-3">
        <input class="form-control" required type="text" formControlName="name" name="trip-start" placeholder="{{'NAME' | translate}}">
    </div>

    <div class="input-group mb-3">
        <input class="form-control" required type="number" formControlName="price" name="trip-start" placeholder="{{'PRICE' | translate}}">
    </div>

    <div class="input-group mb-3">
        <input class="form-control" required type="number" formControlName="timeExpired" name="trip-start" placeholder="{{'EXPIRES_IN' | translate}}">
    </div>

    <button class="btn btn-success" type="submit" (click)="onAddEat()">{{ 'ADD_EAT' | translate}}</button>
</form>
