<ng-container *ngIf="machine$ | async as machine">
    <h2>Id: {{machine.id}}</h2>

    <div><b>{{'STATE' | translate}}: </b> {{machine.state}}</div>
    <div><b>{{'VALUE' | translate}}: </b> {{machine.value}}</div>

    <button class="btn btn-success" routerLink="./add-container" *ngIf="machine.containers.length < machine.value">
      {{'ADD_CONTAINER' | translate}}
    </button>

    <div>{{'CONTAINERS' | translate}}: </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'EAT' | translate}}</th>
                <th scope="col">{{'PRICE' | translate}}</th>
                <th scope="col">{{'LOADING_TIME' | translate}}</th>
                <th scope="col">{{'EMPTY' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let machine of machine.containers">
                <th scope="row">{{machine.id}}</th>
                <td>{{machine.eat.name}}</td>
                <td>{{machine.eat.price}}</td>
                <td>{{machine.fixedLoadingTime | date : 'short'}}</td>
                <td>{{machine.isDeleted}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
