<h3>{{'MACHINES' | translate}}</h3>

<button class="btn btn-success" routerLink="/machines/add">{{ 'ADD_MACHINE' | translate }}</button>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{'VALUE' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr style="cursor: pointer" *ngFor="let machine of machines$ | async" routerLink="/machines/{{machine.id}}">
    <th scope="row">{{machine.id}}</th>
    <td>{{machine.value}}</td>
  </tr>
  </tbody>
</table>
