<h3>Machines</h3>

<button class="btn btn-success" routerLink="/machines/add">Add machine</button>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">State</th>
        <th scope="col">Value</th>
        <th scope="col">Containers</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let machine of machines$ | async" routerLink="/machines/{{machine.id}}">
        <th scope="row">{{machine.id}}</th>
        <td>{{machine.state}}</td>
        <td>{{machine.value}}</td>
        <td>{{machine.containers.length}}</td>
      </tr>
    </tbody>
  </table>