<form class="w-50" [formGroup]="form">

    <div class="input-group mb-3">
      {{'LOADING_TIME' | translate}}:
        <input required type="datetime-local" formControlName="createdTime" name="trip-start">
    </div>

    <div class="form-group mb-3">
        <select required class="form-control" formControlName="eatId">
            <option *ngFor="let eat of eats$ | async" [value]="eat.id">{{eat.name}}</option>
        </select>
    </div>

    <button class="btn btn-success" type="submit" (click)="onAddContainer()">{{'ADD_CONTAINER' | translate}}</button>
</form>
